@tailwind base;
@tailwind components;
@tailwind utilities;

.login-register{
    background-color: #eab308;
}
.sideNav{
    z-index: 0;
}
.dashboardDiv{
    display: flex;
    flex-direction: column;
}

.profileDisplay{
    min-width: max-content;
    box-shadow: 1px 1px 4px .7px white;
}

.form-modal{
    box-shadow: 1px 1px 4px .6px white;
}