@tailwind base;
@tailwind components;
@tailwind utilities;

.login-register{
    background-color: #eab308;
}
.sideNav{
    z-index: 0;
}
.dashboardDiv{
    display: flex;
    flex-direction: column;
}

.profileDisplay{
    min-width: max-content;
    box-shadow: 1px 1px 4px .7px white;
}

.form-modal{
    box-shadow: 1px 1px 4px .6px white;
}

.profile{
    // background-color: rgba(18,18,32,100%);
    background-color: rgba(48,89,87,20%);
}
.personal-details{
    justify-content: space-between;
}
    
.card-info{
    background-color: rgba(48,89,87,40%);
    border-radius: 10px;
}
.personal-btns{
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.car-card{
    background-color:rgba(48,89,87,40%);
    box-shadow: 1px 1px .5px white;
}

.buttons{
    background-color: rgba(185, 202, 0, 0.822);
}